body{

  margin: 0;

padding: 0;
}

header{
  background-color:#2EB086;
}

.warp{

max-width: 1170px;
margin: 0 auto;
padding: 0 50px;
}

.clearfix{

  clear:both;
  content: "";
  display: table;
}

.main-header{
  width: 100%;
}

.right{
  float: right;
}

.left{
float: left;
padding-top: 13px;
padding-bottom: 10px;
}

.right ul li{
display: inline-block;
padding: 10px 15px 5px 15px;
font-size: 17px;
font-family: Montserrat;
}

.right a{
text-decoration: none;
color: #495371;
}

.right a:hover{
color: #03045E;
text-shadow: 0 0 0.8em #ffffff,0 0 0 .6em #21325E;
}


.banner{
  position: relative;
}

.banner img{
  height: 500px;
  width: 100%;
}

.banner-contant{
position: absolute;
transform: translate(59%,  -197%);
font-size: 33px;
font-family: Montserrat;
color: #fff;
text-shadow:0 0 0.8em #ffffff,0 0 0 .6em #21325E;
float: left;
}

.card-section{
  margin: 30px,  0;
}

h2{
  padding-top: 30px;
  font-family: Montserrat;
  font-weight: 900;
}

h1{
text-align: center;
}

.row{
  width: 100%;
}

.column{
  width: 22%;
  float: left;
  text-align: center;
  background-color:#2EB086;
  margin: 11px;
}

.column img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 50px;
}

.image-bordar{
border-top: 5px; solid white;
}

.card-para{
  padding: 30px;
  font-family: Montserrat;
  text-align: center;
}

.card-section2{
  margin: 30px,  0;
}

.column2{
  width: 22%;
  float: left;
  text-align: center;
  margin: 11px;
}

.column2 img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 250px;
  width: 250px;
  border-radius: 55px;
}
.column3{
  width: 30%;
  float: left;
  text-align: center;
  margin: 11px;
  }


.column3 img{
  height: 250px;
  width: 250px;
  border-radius: 45px;
}

.column4{
  width: 30%;
  float: left;
  text-align: center;
  margin: 11px;
  }

  .column4 img{
    height: 250px;
    width: 250px;
    border-radius: 45px;
  }

.card-section3{
  background-color:#2EB086;
}


.card-section4{
  background-color:#2EB086;
}

.company{
  width: 50%;
  margin: 100PX auto;
  text-align: right;
}

.companyimg{
  width: 55%;
float: right;
margin-left: 80px;
}


.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:200px;
  height:100px;
  border-width:1px;
  color:#fff;
  border-color:rgba(34, 170, 124, 1);
  font-weight:bold;
  box-shadow: 1px 1px 0px 1px #fff;
  text-shadow: 0px 2px 5px rgba(35, 63, 30, 1);
  background:rgba(45, 179, 120, 1);
}

.buttonClass:hover {
  background: rgba(48, 182, 150, 1)
}

footer{
background-color: #000000;
text-decoration: none;
color: #FDEFF4;
text-align: center;
padding: 80px auto;
}

th{
text-decoration: none;
color: #49FF00;
}
